.chatbox {
    background-color: var(--color-neutral-150);
    border: 1px solid var(--color-border);
    border-radius: var(--spacing-2);
    opacity: 1;
    z-index: 5;
}
.dark .chatbox {
    background-color: var(--color-neutral-750);
}
.chat-input {
    width: 700px;
}
.options {
    padding: 0;
}
.on-chat-section.chat-input {
    width: 100%;;
}

@media(max-width: 640px) {
    .chatbox {
        width: 90%;
    }
    .chat-input {
        width: 100%;
    }
}