.texteditor-area {
  padding: var(--spacing-4);
  min-height: 400px;
  font-size: var(--font-size-md);
  overflow-y: auto;
  outline: none;
  border: none;
}
.placeholder-text {
  position: absolute;
  top: var(--spacing-4);
  left: var(--spacing-4);
  pointer-events: none;
  color: var(--color-text-secondary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
}
.texteditor-area:empty:before {
  content: attr(placeholder);
  color: #aaa;
  pointer-events: none;
}
.font-adjust-con {
  padding: 0 var(--spacing-2);
  border-left: 1px solid var(--color-neutral-300);
  border-right: 1px solid var(--color-neutral-300);
}
.dark .font-adjust-con {
  border-left: 1px solid var(--color-neutral-700);
  border-right: 1px solid var(--color-neutral-700);
}
.editor-btn-con {
  border-bottom: 1px solid var(--color-neutral-200);
  background-color: var(--color-neutral-100);
  width: 100%;
  max-height: 100px;
  overflow-x: scroll;
  overflow-y: none;
}
.editor-btn-con::-webkit-scrollbar {
    display: none;
}

.dark .editor-btn-con {
  background-color: var(--color-neutral-750);
  border-bottom: 1px solid var(--color-neutral-700);
}
.font-size-dropdown-options {
    background-color: var(--color-neutral-50);
    /* box shadow and z index */
    top: 50px;
    left: calc(48px * 5);
    box-shadow: var(--shadow-lg);
    z-index: 100;
    width: 50px;
}
.size-option-btn {
    padding: var(--spacing-3);
    width: 100%;
}
.size-option-btn:hover {
    background-color: var(--color-neutral-200);
}

@media(max-width: 640px) {
    /* show the x scroll bar for the editor btn con*/
    .editor-btn-con::-webkit-scrollbar {
        display: block;
        height: var(--spacing-2);
    }
    .editor-btn-con::-webkit-scrollbar-track {
        background: transparent;
    }
    .editor-btn-con::-webkit-scrollbar-thumb {
        color: var(--color-neutral-200);
        background-color: var(--color-neutral-200);
    }
}

