.create-course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-12);
    width: 100%;
    max-height: 100%;
    gap: var(--spacing-4);
}
.create-course-title {
    color: var(--color-neutral-600);
}
.dark .create-course-title {
    color: var(--color-neutral-500);
}
.stage-container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-6);
    width: 60%;
    border: 1px solid var(--color-neutral-200);
    border-radius: var(--radius-lg);
}
.stage-title {
    color: var(--color-neutral-200);
}
.stage-icon {
    color: var(--color-neutral-200);
}
.dark .stage-container {
    border-color: var(--color-neutral-700);
    .stage-title {
        color: var(--color-neutral-700);
    }
}
.dark .stage-icon {
    color: var(--color-neutral-700);
}
.stage-container.current-stage {
    border-color: var(--color-neutral-700);
    .stage-title {
        color: var(--color-neutral-700);
    }
    .subprocess-text {
        color: var(--color-neutral-500);
    }
}
.dark .stage-container.current-stage {
    border-color: var(--color-neutral-300);
    .stage-title {
        color: var(--color-neutral-200);
    }
    .subprocess-text {
        color: var(--color-neutral-400);
    }
}
.stage-container.completed-stage {
    background-color: var(--color-secondary-50);
    border-color: var(--color-secondary-100);
    .stage-title {
        color: var(--color-neutral-600);
    }
    .subprocess-text {
        color: var(--color-neutral-500);
    }
}
.dark .stage-container.completed-stage {
    background-color: var(--color-secondary-800-trans);
    border-color: var(--color-secondary-700);
    .stage-title {
        color: var(--color-neutral-200);
    }
}
.subprocesses-container {
    padding-left: calc(var(--spacing-6) * 2);
    padding-top: var(--spacing-4);
}
.subprocess-text {
    color: var(--color-neutral-200);
}
