.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.dark .opacity-20 {
  opacity: 0.05;
}

.subtext {
  color: var(--color-text-secondary);
}
.hero-text {
  font-size: var(--font-size-4xl);
}


.object-cover {
  width: 100%;
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-40 {
  opacity: 0.4;
}

.hero {
  padding-top: var(--spacing-56);
  gap: var(--spacing-4);
}
.features {
  padding-top: var(--spacing-48);
  gap: var(--spacing-4);
}

.recommendation-btn {
  background-color: var(--color-surface);
  border-radius: var(--radius-xl);
  border: 1px solid var(--color-neutral-300);
  font-weight: var(--font-weight-normal);
  padding: var(--spacing-2) var(--spacing-6) var(--spacing-2) var(--spacing-6);
}

.dark .recommendation-btn {
  color: var(--color-neutral-50);
  background-color: var(--color-neutral-800);
  border-color: var(--color-neutral-700);
}

.recommendation-btn:hover {
  color: var(--color-primary-900);
  background-color: var(--color-primary-200);
  border-color: var(--color-primary-200);
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing-16);
  padding: var(--spacing-8);
}



.feature-card {
  background-color: var(--color-neutral-100);
  border-radius: var(--radius-lg);
  padding: var(--spacing-8);
  border: 1px solid var(--color-neutral-200);
  max-width: 400px;
  transition: transform var(--transition-normal) var(--transition-ease),
    box-shadow var(--transition-normal) var(--transition-ease);
}

.dark .feature-card {
  background-color: var(--color-neutral-800);
  border-color: var(--color-neutral-700);
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-sm);
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: var(--radius-md);
  background-color: var(--color-primary-100);
  color: var(--color-primary-600);
  margin-bottom: var(--spacing-4);
}

.dark .feature-icon {
  background-color: var(--color-primary-900);
  color: var(--color-primary-300);
}

.feature-title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-2);
}

.feature-description {
  color: var(--color-text-secondary);
  font-size: var(--font-size-md);
}

@media (min-width: 640px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: var(--spacing-16);
  }
}

@media (min-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: var(--spacing-24);
  }
}

@media(max-width:640px) {
  .hero-text {
    font-size: var(--font-size-xl);
  }
  .subtext {
    font-size: var(--font-size-sm);
  }
  .feature-card {
    max-width: 100%;
  }
}
