.onboarding-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-12);
    width: 100%;
    height: 100%;
    gap: var(--spacing-8);
}

.onboarding-title {
    font-size: var(--font-size-5xl);
}
.onboard-subtext {
    font-size: var(--font-size-4xl);
    font-weight: 600;
    color: var(--color-neutral-400);
}
.learning-method-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding: var(--spacing-4);
    background-color: var(--color-primary-50);
    border-radius: var(--radius-lg);
    width: 100%;
    height: 300px;
    max-width: 400px;
}
.dark .learning-method-card {
    background-color: rgba(196, 181, 253, 0.2);
}
.dark .info-icon {
    color: var(--color-primary-300);
}
.dark .method-description {
    color: var(--color-neutral-300);
}
.dark .learning-method-card:hover {
    background-color: rgba(196, 181, 253, 0.3);
}
.info-tooltip {
    display: flex;
    position: absolute;
    top: 5%;
    left: 5%;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: var(--radius-md);
    background-color: var(--color-neutral-50);
    color: var(--color-neutral-600);
    font-size: var(--font-size-sm);
    padding: var(--spacing-4);
    gap: var(--spacing-4);
}
.method-description {
    font-size: var(--font-size-lg);
    color: var(--color-neutral-600);
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

